/* Imports */
@import url(css/normalize.css);

/* Custom Properties */
:root {
  --color-primary: hsl(171, 66%, 44%);
  --color-secondary: hsl(233, 100%, 69%);
  --color-accent: ;
  --color-neutral-primary: hsl(210, 10%, 33%);
  --color-neutral-secondary: hsl(201, 11%, 66%);
  --color-light: hsl(0, 0%, 95%);
  --color-icon: #9eabb2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Required Styles - frontendmentor */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Container */
.container {
  justify-content: center;
  justify-items: center;
  margin: 0 2rem;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .container {
    margin: 0 20rem;
  }
}

/* Grid */
.grid {
  display: grid;
}

/* Block */

@media screen and (min-width: 1000px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* @media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
} */
/* Typography */

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  background-image: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: Bai Jamjuree, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  overflow: scroll;
}

h1,
h2,
h3 {
  color: var(--color-neutral-primary);
  font-size: 3rem;
}
p {
  color: var(--color-neutral-secondary);
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(images/bg-header-desktop.png);
    font-size: 2rem;
  }
}

/* Logo */
.logo {
  margin: 5rem 0;
  padding: 0;
}

/* Button */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  white-space: nowrap;
}

.btn--block {
  display: inline-block;
  width: 85%;
}
.btn-primary {
  background-color: var(--color-primary);
  box-shadow: 0 5px 5px rgba(38, 186, 164, 0.5);
  color: white;
}
.btn-secondary {
  background-color: var(--color-secondary);
  box-shadow: 0 5px 5px rgba(98, 115, 255, 0.5);
  color: white;
}

.btn--small {
  width: 10rem;
}

.btn-primary:hover,
.btn-secondary:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .btn--block {
    margin: 0 1rem;
    width: auto;
  }
}

/* SVG Icon */
.icon {
  fill: var(--color-icon);
  height: 32px;
  width: 32px;
}

.icon--large {
  transform: scale(1.5);
}

.icon--primary:hover {
  fill: var(--color-primary);
}

.icon--neutral-primary {
  fill: var(--color-neutral-primary);
}

.icon--neutral-secondary {
  fill: var(--color-neutral-secondary);
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

/* Header Section */
.header {
  line-height: 2;
  text-align: center;
}

.header > h2 {
  margin-top: 0;
}

/* Feature Section */
.feature {
  text-align: center;
}

.feature > h2 {
  margin-top: 10rem;
}
.feature__content {
  display: grid;
  justify-content: center;
  justify-items: center;
  line-height: 1.1;
  text-align: center;
}

.feature__image {
  margin-top: 5rem;
  width: 100%;
}

.feature__content > h3 {
  margin-bottom: 0;
  margin-top: 4rem;
}

@media screen and (min-width: 1000px) {
  h2 {
    margin-top: 10rem;
  }

  h3 {
    font-size: 2rem;
  }

  .block-feature__image > img {
    max-width: 700px;
    width: auto;
  }

  .feature__content {
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: left;
    margin: 0;
  }
  .feature__list {
    margin-left: 10rem;
  }

  .feature__paragraph {
    margin-bottom: 5rem;
  }

  .feature__image {
    justify-self: end;
    max-width: 700px;
    width: 100%;
  }
}

/* Workflow Section */
.workflow {
  text-align: center;
}
.workflow__description {
  padding-bottom: 5rem;
}
@media screen and (min-width: 1000px) {
  .workflow {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Partner Section */

.partner_sections {
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 10rem;
}

.partner_sections > img {
  padding: 4rem 0;
}

@media screen and (min-width: 1000px) {
  .partner_sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Download Section */

.download {
  line-height: 2;
  margin: 10rem 0;
  text-align: center;
}

/* Footer */
.footer {
  background-color: var(--color-light);
  width: 100%;
}
.footer__sections {
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo--footer {
  font-weight: 600;
  margin: 1rem;
  transform: scale(0.5);
}
.footer__section > ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.footer__section > ul > li {
  padding-bottom: 2rem;
}
.footer__section:last-of-type {
  padding-bottom: 2rem;
}
.footer__link {
  color: var(--color-neutral-primary);
  text-decoration: none;
}

.footer__link:hover {
  color: var(--color-primary);
}

.footer__icon {
  padding: 0rem 3rem;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(30%, max-content));
  }

  .footer__section > ul {
    columns: 3;
    display: inline-block;
    text-align: left;
  }
}
