<footer class="block block--neutral footer">
  <div class="container grid footer__sections">
    <section class="footer__section">
      <div class="header--logo"><img src="/images/logo.svg" alt="" /></div>
    </section>
    <section class="footer__section">
      <ul>
        <li><a class="footer__link" href="">FAQs</a></li>
        <li><a class="footer__link" href="">Contact Us</a></li>
        <li><a class="footer__link" href="">Privacy Policy</a></li>
        <li><a class="footer__link" href="">Press Kit</a></li>
        <li><a class="footer__link" href="">Install Guide</a></li>
      </ul>
    </section>
    <section class="footer__section">
      <a class="footer__icon" href="#">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
      <a class="footer__icon" href="#">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a class="footer__icon" href="#">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
    </section>
  </div>
</footer>
